<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--===== META TAGS =====-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Portfolio pessoal referente à projetos criados e apresentação pessoal">
    <meta name="keywords" content="Portfolio, Contato, Apresentação pessoal, Website, Responsivo,">
    <meta name="author" content="Gustavo Nascimento Souza">

    <!--===== UNICONS LINE =====-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--===== DEVICON =====-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <!--===== SWIPER CSS =====-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">

    <!--===== GLOBAL CSS =====-->
    <link rel="stylesheet" href="./css/global.css">

    <!--===== INDEX CSS =====-->
    <link rel="stylesheet" href="./css/index.css">

    <!--===== FAVICON =====-->
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">

    <!--===== PAGE TITLE =====-->
    <title>Gustavo Nascimento Souza | Portfolio</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#home" class="nav-logo">Gustavo N. S.</a>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list grid">
                    <li class="nav-item">
                        <a href="#home" class="nav-link active-link">
                            <i class="uil uil-estate nav-icon"></i> Início
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link">
                            <i class="uil uil-user nav-icon"></i> Sobre mim
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#skills" class="nav-link">
                            <i class="uil uil-brain nav-icon"></i> Habilidades
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#qualification" class="nav-link">
                            <i class="uil uil-notebooks nav-icon"></i> Qualificação
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#services" class="nav-link">
                            <i class="uil uil-bag nav-icon"></i> Serviços
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">
                            <i class="uil uil-document-layout-left nav-icon"></i> Portfólio
                        </a>
                    </li>

                    <li class="nav-item none">
                        <a href="#project" class="nav-link none">
                            <i class="uil uil-presentation-edit nav-icon"></i> Em Mente
                        </a>
                    </li>

                    <li class="nav-item none">
                        <a href="#comments" class="nav-link none">
                            <i class="uil uil-comment-alt-dots nav-icon"></i> Comentários
                        </a>
                    </li>

                    <li class="nav-item none">
                        <a href="#contact" class="nav-link none">
                            <i class="uil uil-message nav-icon"></i> Fale comigo
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav-close" id="nav-close"></i>
            </div>

            <div class="nav-btns">
                <!-- Botão de Mudar Tema -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav-toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--===== MAIN =====-->
    <main class="main">
        <!--===== HOME =====-->
        <section class="home section" id="home">
            <div class="home-container container grid">
                <div class="home-content grid">
                    <div class="home-social">
                        <a href="https://www.linkedin.com/in/gustanascsouza/" class="home-social-icon" target="_blank">
                            <i class="uil uil-linkedin"></i>
                        </a>

                        <a href="https://www.instagram.com/gustanascsouza/" class="home-social-icon" target="_blank">
                            <i class="uil uil-instagram-alt"></i>
                        </a>

                        <a href="https://github.com/Gustavo-Nasc" class="home-social-icon" target="_blank">
                            <i class="uil uil-github"></i>
                        </a>
                    </div>

                    <div class="home-img">
                        <svg class="home-blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                                <image class="home-blob-img" x='20' y="5" href="./img/perfil.png">
                            </g>
                        </svg>
                    </div>

                    <div class="home-data">
                        <h1 class="home-title">Olá, sou o Gustavo!</h1>
                        <h3 class="home-subtitle">Desenvolvedor Front-End</h3>
                        <p class="home-description">Sempre buscando evolução e #OpenToWork</p>
                        <a href="#contact" class="button button-flex home-button">
                            Fale Comigo <i class="uil uil-message button-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="home-scroll">
                    <a href="#rating" class="home-scroll-button button-flex">
                        <i class="uil uil-mouse-alt home-scroll-mouse"></i>
                        <span class="home-scroll-name">Avalie o projeto!</span>
                        <i class="uil uil-arrow-down home-scroll-arrow"></i>
                    </a>
                </div>
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">Sobre mim</h2>
            <span class="section-subtitle">Minha introdução</span>

            <div class="about-container container grid">
                <img src="./img/about.jpg" alt="" class="about-img">

                <div class="about-data">
                    <p class="about-description">Desenvolvedor Web com conhecimento em HTML, CSS e JS, em busca de
                        constante evolução e da primeira vaga</p>

                    <div class="about-info">
                        <div>
                            <span class="about-info-title">Sem</span>
                            <span class="about-info-name">Anos de <br> Experiência</span>
                        </div>

                        <div>
                            <span class="about-info-title"><%= projects.length %> </span>
                            <span class="about-info-name">Projeto(s) <br>
                                Completo(s)</span>
                        </div>

                        <div>
                            <span class="about-info-title">Sem</span>
                            <span class="about-info-name">Empresas em que<br> Trabalhou</span>
                        </div>
                    </div>

                    <div class="about-buttons">
                        <a download="" href="./pdf/Gustavo-CV.pdf" class="button button-flex about-button">
                            Baixar CV
                            <i class="uil uil-file-download button-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Habilidades</h2>
            <span class="section-subtitle">Meu Tech Stack</span>

            <div class="skills-container container grid">
                <div>
                    <!--===== SKILLS 1 =====-->
                    <div class="skills-content skills-close">
                        <div class="skills-header">
                            <i class="uil uil-desktop skills-icon"></i>

                            <div>
                                <h1 class="skills-title">Desenvolvedor Front-End</h1>
                                <span class="skills-subtitle">Menos de 1 ano em Desenvolvimento Pessoal</span>
                            </div>

                            <i class="uil uil-angle-down skills-arrow"></i>
                        </div>

                        <div class="skills-list grid">
                            <!--===== HTML =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i class="devicon-html5-plain colored skills-titles-icon skills-icon-html"></i>
                                        <h3 class="skills-name">HTML5</h3>
                                    </div>

                                    <span class="skills-number">80%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-html"></span>
                                </div>
                            </div>

                            <!--===== CSS =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i class="devicon-css3-plain colored skills-titles-icon skills-icon-css"></i>
                                        <h3 class="skills-name">CSS3</h3>
                                    </div>

                                    <span class="skills-number">80%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-css"></span>
                                </div>
                            </div>

                            <!--===== JS =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i
                                            class="devicon-javascript-plain colored skills-titles-icon skills-icon-js"></i>
                                        <h3 class="skills-name">JavaScript</h3>
                                    </div>
                                    <span class="skills-number">35%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-js"></span>
                                </div>
                            </div>

                            <!--===== React Native =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i
                                            class="devicon-react-original colored skills-titles-icon skills-icon-react"></i>
                                        <h3 class="skills-name">ReactJS</h3>
                                    </div>
                                    <span class="skills-number">0%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-react-native">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <!--===== SKILLS 2 =====-->
                    <div class="skills-content skills-close">
                        <div class="skills-header">
                            <i class="uil uil-brackets-curly skills-icon"></i>

                            <div>
                                <h1 class="skills-title">Desenvolvedor Back-End</h1>
                                <span class="skills-subtitle">Menos de 1 ano em Desenvolvimento Pessoal</span>
                            </div>

                            <i class="uil uil-angle-down skills-arrow"></i>
                        </div>

                        <div class="skills-list grid">
                            <!--===== Node.js =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i class="devicon-nodejs-plain colored skills-titles-icon skills-icon-node"></i>
                                        <h3 class="skills-name">Node.js</h3>
                                    </div>
                                    <span class="skills-number">7.5%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-node"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <!--===== SKILLS 3 =====-->
                    <div class="skills-content skills-close">
                        <div class="skills-header">
                            <i class="uil uil-mobile-android skills-icon"></i>

                            <div>
                                <h1 class="skills-title">Desenvolvedor Mobile</h1>
                                <span class="skills-subtitle">Menos de 1 ano em Desenvolvimento Pessoal</span>
                            </div>

                            <i class="uil uil-angle-down skills-arrow"></i>
                        </div>

                        <div class="skills-list grid">
                            <!--===== Angular =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i
                                            class="devicon-angularjs-plain colored skills-titles-icon skills-icon-angular"></i>
                                        <h3 class="skills-name">Angular / AngularJS</h3>
                                    </div>
                                    <span class="skills-number">0%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-angular"></span>
                                </div>
                            </div>

                            <!--===== React Native =====-->
                            <div class="skills-data">
                                <div class="skills-titles">
                                    <div class="skill-titles-name-icon">
                                        <i
                                            class="devicon-react-original colored skills-titles-icon skills-icon-react"></i>
                                        <h3 class="skills-name">React Native</h3>
                                    </div>
                                    <span class="skills-number">0%</span>
                                </div>
                                <div class="skills-bar">
                                    <span class="skills-percentage skills-react-native"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!--===== QUALIFICATION =====-->
        <section class="qualification section" id="qualification">
            <h2 class="section-title">Qualificação</h2>
            <span class="section-subtitle">Minha jornada pessoal</span>
            <div class="qualification-container">
                <div class="qualification-tabs">
                    <div class="qualification-button button-flex qualification-active" data-target='#education'>
                        <i class="uil uil-graduation-cap qualification-icon"></i>
                        Educação
                    </div>

                    <div class="qualification-button button-flex" data-target='#work'>
                        <i class="uil uil-briefcase-alt qualification-icon"></i>
                        Emprego
                    </div>
                </div>

                <div class="qualification-sections">
                    <!--===== QUALIFICATION CONTENT 1 =====-->
                    <div class="qualification-content qualification-active" data-content id="education">
                        <!--===== QUALIFICATION 1-1 =====-->
                        <div class="qualification-data">
                            <div>
                                <h3 class="qualification-title">Análise e Desenvolvimento de Sistemas</h3>
                                <span class="qualification-subtitle">ETEC Cidade Tiradentes</span>
                                <div class="qualification-calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2019 - 2021
                                </div>
                            </div>
                            <div>
                                <span class="qualification-rounder"></span>
                                <span class="qualification-line"></span>
                            </div>
                        </div>

                        <!--===== QUALIFICATION 1-2 =====-->
                        <div class="qualification-data">
                            <div></div>
                            <div>
                                <span class="qualification-rounder"></span>
                            </div>
                            <div>
                                <h3 class="qualification-title">Desenvolvimento de Software Multiplataforma</h3>
                                <span class="qualification-subtitle">FATEC Zona Leste</span>
                                <div class="qualification-calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    Atual
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--===== QUALIFICATION CONTENT 2 =====-->
                    <div class="qualification-content" data-content id="work">
                        <!--===== QUALIFICATION 2-1 =====-->
                        <div class="qualification-data">
                            <div></div>
                            <div>
                                <span class="qualification-rounder"></span>
                            </div>
                            <div>
                                <h3 class="qualification-title">#OpenToWork</h3>
                                <span class="qualification-subtitle">São Paulo - SP</span>
                                <div class="qualification-calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    Atual
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--===== SERVICES =====-->
        <section class="services section" id="services">
            <h2 class="section-title">Serviços</h2>
            <span class="section-subtitle">O que eu ofereço</span>

            <div class="services-container container grid">
                <!--===== SERVICE 1 =====-->
                <div class="services-content">
                    <div>
                        <i class="uil uil-window services-icon"></i>
                        <h3 class="services-title">Desenvolvedor Front-End</h3>
                    </div>

                    <span class="button button-flex button-small button-link services-button">
                        Ver mais
                        <i class="uil uil-arrow-right button-icon"></i>
                    </span>
                </div>
                <div class="services-modal">
                    <div class="services-modal-content">
                        <h4 class="services-modal-title">Desenvolvedor Front-End</h4>
                        <i class="uil uil-times services-modal-close"></i>

                        <ul class="services-modal-services grid">
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Desenvolvo Páginas Web
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Desenvolvo a Interface Gráfica do Projeto Web
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Desenvolvo a Responsividade de uma Aplicação Web
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Utilizado o Conceito de Design da Informação para a Criação
                            </li>
                        </ul>
                    </div>
                </div>

                <!--===== SERVICE 2 =====-->
                <div class="services-content">
                    <div>
                        <i class="uil uil-server services-icon"></i>
                        <h3 class="services-title">Desenvolvedor Back-End</h3>
                    </div>

                    <span class="button button-flex button-small button-link services-button">
                        Ver mais
                        <i class="uil uil-arrow-right button-icon"></i>
                    </span>
                </div>
                <div class="services-modal">
                    <div class="services-modal-content">
                        <h4 class="services-modal-title">Desenvolvedor Back-End</h4>
                        <i class="uil uil-times services-modal-close"></i>

                        <ul class="services-modal-services grid">
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Boa Lógica de Programação
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Conexão com Banco de Dados
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Planejamento, Criação, Implementação e Manutenção da Estrutura de Dados
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Integração de Webservices
                            </li>
                        </ul>
                    </div>
                </div>

                <!--===== SERVICE 3 =====-->
                <div class="services-content">
                    <div>
                        <i class="uil uil-mobile-android services-icon"></i>
                        <h3 class="services-title">Desenvolvedor Mobile</h3>
                    </div>

                    <span class="button button-flex button-small button-link services-button">
                        Ver mais
                        <i class="uil uil-arrow-right button-icon"></i>
                    </span>
                </div>
                <div class="services-modal">
                    <div class="services-modal-content">
                        <h4 class="services-modal-title">Desenvolvedor Front-End</h4>
                        <i class="uil uil-times services-modal-close"></i>

                        <ul class="services-modal-services grid">
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Criativo e "Resolvedor de Problemas"
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Desenvolvimento de softwares e recursos para dispositivos móveis
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Desenvolvimento para Plataforma Android
                            </li>
                            <li class="services-modal-service">
                                <i class="uil uil-check-circle services-modal-icon"></i>
                                Visando atender às necessidades dos usuários
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--===== PORTFOLIO =====-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section-title">Portfólio</h2>
            <span class="section-subtitle">Projetos pessoais mais recentes</span>

            <div class="portfolio-container container swiper">
                <div class="swiper-wrapper">
                    <% projects.forEach(project => { %>
                    <div class="portfolio-content grid swiper-slide">
                        <img src="<%= project.image %>" class="portfolio-image"></img>

                        <div class="portfolio-data">
                            <h3 class="portfolio-title"><%= project.title %></h3>
                            <p class="portfolio-description">
                                <%= project.description %>
                            </p>
                            <div class="div-buttons-display">
                                <a href="<%= project.repository %>"
                                    class="button button-flex button-small portfolio-button" target="_blank">
                                    Repositório
                                    <i class="uil uil-github button-icon"></i>
                                </a>
                                <% if (project.page != "") { %>
                                <a href="<%= project.page %>" class="button button-flex button-small portfolio-button"
                                    target="_blank">
                                    Github Page
                                    <i class="uil uil-window button-icon"></i>
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <!--===== ARROWS =====-->
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
                </div>

                <!--===== PAGINATION =====-->
                <div class="swiper-pagination swiper-pagination-custom"></div>
            </div>
        </section>

        <!--===== PROJECT IN MIND =====-->
        <section class="project section" id="project">
            <div class="project-bg">
                <% if(projectInMind == undefined) { %>
                <h2>No momento, sem projeto em mente</h2>
                <% } else { %>
                <div class="project-container container grid">
                    <div class="project-data">
                        <h2 class="project-title"><%= projectInMind.title %></h2>
                        <p class="project-description">
                            <%= projectInMind.description %>
                        </p>
                        <a href="<%= projectInMind.details %>" class="button button-flex button-white project-button"
                            target="_blank">
                            Mais detalhes
                            <i class="uil uil-message project-icon button-icon"></i>
                        </a>
                    </div>

                    <img src="<%= projectInMind.image %>" alt="" class="project-img">
                </div>
                <% } %>
            </div>
        </section>

        <!--===== COMMENTS =====-->
        <section class="comments section" id="comments">
            <h2 class="section-title">Comentários</h2>
            <span class="section-subtitle">Últimos comentários sobre o Projeto</span>

            <div class="comments-container container swiper">
                <div class="swiper-wrapper">
                    <% comments.forEach(comment => { %>
                    <div class="comments-content swiper-slide">
                        <div class="comments-data">
                            <div class="comments-header">
                                <div>
                                    <h3 class="comments-name"><%= comment.nameUser %> </h3>
                                </div>
                            </div>
                            <a class="uil uil-minus-circle comments-icon" href="/remove-comment">
                                <p class="comments-text">Remover comentário</p>
                            </a>
                        </div>
                        <p class="comments-select"><%= comment.rating %></p>
                        <p class="comments-description"><%= comment.comment %></p>
                    </div>
                    <% }) %>
                </div>
            </div>
            <!--===== PAGINATION =====-->
            <div class="swiper-pagination swiper-pagination-comments"></div>
        </section>

        <!--===== LEAVE A COMMENT =====-->
        <section class="rating section" id="rating">

            <h2 class="section-title">Avaliação</h2>
            <span class="section-subtitle">Avalie o projeto, deixe um feedback</span>

            <div class="rating-container container grid">
                <form action="/add-comment" method="POST" class="rating-form grid">
                    <div class="rating-inputs grid">
                        <div class="rating-content">
                            <label for="name" class="rating-label">Nome</label>
                            <input type="text" class="rating-input" id="name" name="name" required>
                        </div>

                        <div class="rating-content">
                            <label for="rating" class="rating-label">Nota de Avaliação</label>
                            <div class="select-div">
                                <select name="rating" id="rating" class="rating-select" required>
                                    <option value="select" selected disabled>Selecione uma opção</option>
                                    <option value="Ruim">Ruim</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Bom">Bom</option>
                                    <option value="Ótimo">Ótimo</option>
                                    <option value="Excelente">Excelente</option>
                                </select>
                            </div>
                        </div>

                        <div class="rating-content">
                            <label for="comment" class="rating-label">Comentário</label>
                            <textarea name="comment" id="comment" cols="0" rows="7" class="rating-input"
                                required></textarea>
                        </div>

                        <div>
                            <button class="button button-flex leave-comment-button">
                                Enviar comentário
                                <i class="uil uil-message button-icon"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!--===== CONTACT ME =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contato</h2>
            <span class="section-subtitle">Fale comigo</span>

            <div class="contact-container container">
                <div>
                    <div class="contact-information">
                        <i class="uil uil-phone contact-icon"></i>

                        <div>
                            <h3 class="contact-title">Me liga!</h3>
                            <span class="contact-subtitle">(11) 97649-5898</span>
                        </div>
                    </div>

                    <div class="contact-information">
                        <i class="uil uil-envelope contact-icon"></i>

                        <div>
                            <h3 class="contact-title">E-mail</h3>
                            <span class="contact-subtitle">gustavo.ns@outlook.com.br | gunascousza@gmail.com</span>
                        </div>
                    </div>

                    <div class="contact-information">
                        <i class="uil uil-map-marker contact-icon"></i>

                        <div>
                            <h3 class="contact-title">Endereço</h3>
                            <span class="contact-subtitle">Avenida Aricanduva, 8256 - São Paulo - SP</span>
                        </div>
                    </div>
                </div>

                <form action="#" class="contact-form grid">
                    <div class="contact-inputs grid">
                        <div class="contact-content">
                            <label for="" class="contact-label">Nome</label>
                            <input type="text" id="name" name="name" class="contact-input" required>
                        </div>
                        <div class="contact-content">
                            <label for="email" class="contact-label">E-mail</label>
                            <input type="email" id="email" name="email" class="contact-input" required>
                        </div>
                    </div>
                    <div class="contact-content">
                        <label for="assunto" class="contact-label">Assunto</label>
                        <input type="text" id="subject" name="subject" class="contact-input" required>
                    </div>
                    <div class="contact-content">
                        <label for="message" class="contact-label">Mensagem</label>
                        <textarea name="message" id="message" cols="0" rows="7" class="contact-input"
                            required></textarea>
                    </div>
                    <div>
                        <button class="button button-flex contact-button">
                            Enviar E-mail
                            <i class="uil uil-message button-icon"></i>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <div class="footer-bg">
            <div class="footer-container container grid">
                <div>
                    <h1 class="footer-title">Gustavo N. Souza</h1>
                    <span class="footer-subtitle">Desenvolvedor Front-End</span>
                </div>

                <ul class="footer-links">
                    <li>
                        <a href="#services" class="footer-link">Serviços</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer-link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer-link">Fale Comigo</a>
                    </li>
                </ul>

                <div class="footer-socials">
                    <a href="https://www.facebook.com/gustanascsouza/" target="_blank" class="footer-social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/gustanascsouza/" target="_blank" class="footer-social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://twitter.com/gustanascsouza" target="_blank" class="footer-social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer-copy">&#169; Bedimcode, Gustavo Nascimento Souza. Todos os direitos reservados</p>
        </div>
    </footer>

    <!--===== SCROLL TOP =====-->
    <a href="#home" class="scrollup" id="scroll-up">
        <i class="uil uil-angle-up scrollup-icon"></i>
    </a>

    <!--===== WHATSAPP =====-->
    <a href="https://wa.me/5511976495898" class="whatsapp" id="whatsapp" target="_blank">
        <i class="uil uil-whatsapp whatsapp-icon"></i>
    </a>

    <!--===== SWIPER JS =====-->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!--===== SCROLL REVEAL JS =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="./js/main.js"></script>
</body>

</html>